.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  overflow-y: scroll; /* Change to "scroll" for vertical scrolling */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefcfb;
  z-index: 1000;
  max-height: 80%; /* Set the maximum height of the modal */
  overflow-y: auto; /* Allow vertical scrolling when content exceeds maxHeight */
}
